{% extends 'base.html.twig' %}

{% block title %} CGU!{% endblock %}



{% block body %}
<div class="example-wrapper">
    <h1>Salluuuuuuuuuut Page des CGU! ✅</h1>

       <div>
       
       Laborum reprehenderit consequat adipisicing nisi incididunt fugiat adipisicing minim cillum sit mollit qui. Adipisicing et ad minim adipisicing quis sit deserunt anim. Dolor ut ipsum sit ea.

Aute nostrud cillum dolore commodo id id aute veniam qui laboris proident veniam. Officia ullamco occaecat ipsum sint qui aliqua duis. Non magna cillum eiusmod qui.

Anim elit officia fugiat ullamco. Et est ipsum incididunt proident est fugiat eu. Commodo nostrud in tempor aute qui est. Enim culpa eiusmod aliquip nulla laborum fugiat amet ipsum aute amet dolor anim pariatur. Aliqua reprehenderit Lorem duis in sit aute tempor occaecat ullamco labore. Nostrud veniam reprehenderit ad reprehenderit ut eu laboris id fugiat. Anim veniam quis culpa dolor nulla sunt pariatur adipisicing non esse elit nostrud excepteur.

Elit consequat ex amet magna et in non duis duis commodo irure ad. Non commodo aute deserunt ipsum amet pariatur occaecat pariatur aliqua culpa. Proident elit irure proident mollit qui ut ea enim mollit excepteur. Eu cupidatat esse in duis est. Irure duis eiusmod ex reprehenderit elit fugiat esse ipsum anim elit. Deserunt duis irure ipsum in reprehenderit magna proident sunt amet adipisicing laboris. Incididunt exercitation irure aliquip pariatur ipsum sit amet ea nulla ea pariatur laborum nulla pariatur.

Irure amet consequat amet incididunt dolore elit nostrud quis exercitation proident reprehenderit laboris labore officia. Ut Lorem cillum magna consectetur consectetur ad Lorem tempor exercitation exercitation deserunt laborum dolore. Aliquip non consectetur exercitation ad duis amet Lorem ea. Eiusmod qui quis aute eiusmod sint ea est aliquip cupidatat ex.></div>

</div>
{% endblock %}

